
/*
 *
 * This file was copied with only very minor modifications from the following site:
 *
 *     http://www.webreference.com/programming/javascript/mk/column2/index.html
 *
 *     Author:  Mark Kahn  (http://www.jslibrary.org)
 *
 *     License (per http://www.jslibrary.org)
 *
 *     Copying and distribution of this file, with or without modification, are permitted in any 
 *     medium without royalty provided the copyright notice and this notice are preserved. 
 *
 */

LI {
	MARGIN-BOTTOM: 2px; font-size: x-small; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px; 
}
OL {
	MARGIN-TOP: 2px;  
}
.DragContainer {
	BORDER-RIGHT: #669999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #669999 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 3px; BORDER-LEFT: #669999 1px solid; WIDTH: 100px; PADDING-TOP: 5px; BORDER-BOTTOM: #669999 1px solid
}
.OverDragContainer {
	BORDER-RIGHT: #669999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #669999 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 3px; BORDER-LEFT: #669999 1px solid; WIDTH: 100px; PADDING-TOP: 5px; BORDER-BOTTOM: #669999 1px solid
}
.OverDragContainer {
	BACKGROUND-COLOR: #eee
}
.DragBox {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 94px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #eee
}
.OverDragBox {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 94px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #eee
}
.DragDragBox {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 94px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #eee
}
.miniDragBox {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 8px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 94px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #eee
}
.OverDragBox {
	BACKGROUND-COLOR: #ffff99
}
.DragDragBox {
	BACKGROUND-COLOR: #ffff99
}
.DragDragBox {
	FILTER: alpha(opacity=50); BACKGROUND-COLOR: #ff99cc
}
LEGEND {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666699; 
}
FIELDSET {
	border: 0; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.History {
	FONT-SIZE: 8px; OVERFLOW: auto; WIDTH: 100%; HEIGHT: 82px
}
#DragContainer8 {
	BORDER-RIGHT: #669999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #669999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #669999 1px solid; WIDTH: 110px; PADDING-TOP: 5px; BORDER-BOTTOM: #669999 1px solid; HEIGHT: 110px
}
.miniDragBox {
	FLOAT: left; MARGIN: 0px 5px 5px 0px; WIDTH: 20px; HEIGHT: 20px
}

