
/**************************/
/** FORMS Default styles **/
/**************************/

* {
   font-family: Arial, "Trebuchet MS", Geneva, Helvetica, SunSans-Regular, 
sans-serif;
}
body {
   /*
   background:#57e964 url("../images/bggreen.gif") 0 0 repeat-x;
   background:#3aff3a url("../images/bgbluegreen.gif") 0 0 repeat-x;
   background:#7b90d0 url("../images/bgdkblue.gif") 0 0 repeat-x;
   */
   background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
}
.bodymenu {
   /*
   background:#57e964 url("../images/bggreen.gif") 0 0 repeat-x;
   background:#3aff3a url("../images/bgbluegreen.gif") 0 0 repeat-x;
   background:#7b90d0 url("../images/bgdkblue.gif") 0 0 repeat-x;
   background:#F2F5FE;
   */
   background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
}
.bodynoimage {
   background:#FFFFFF;
   vertical-align:middle;
}
.contentbody {
   background:#FFFFFF;
}
.bgoptions {
   /*
   background:#57e964 url("../images/bggreen.gif") 0 0 repeat-x;
   background:#3aff3a url("../images/bgbluegreen.gif") 0 0 repeat-x;
   background:#7b90d0 url("../images/bgdkblue.gif") 0 0 repeat-x;
   */
   background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
}
.bgclass {
   /*
   background:#57e964 url("../images/bggreen.gif") 0 0 repeat-x;
   background:#3aff3a url("../images/bgbluegreen.gif") 0 0 repeat-x;
   background:#7b90d0 url("../images/bgdkblue.gif") 0 0 repeat-x;
   */
   background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
}
.bgcolor {
   /*
   background:#57e964 url("../images/bggreen.gif") 0 0 repeat-x;
   background:#3aff3a url("../images/bgbluegreen.gif") 0 0 repeat-x;
   background:#7b90d0 url("../images/bgdkblue.gif") 0 0 repeat-x;
   */
   background:#F2F5FE;
}
.tbltext {   
   color:#001188;
   padding:10px;
}   
a {
   color:#001199;
   text-decoration:underline;
}
td {
   font-size:10pt;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    margin:0;
    padding:0;
}
h1 {
    font-size:18pt;
}
h2 {
    font-size:16pt;
}
h3 {
    font-size:14pt;
}
h4 {
    font-size:12pt;
}
h5 {
    font-size:10pt;
}
h6 {
    font-size:9pt;
}
.c25w95 {
    height:100%;
    width:95%;
}
.c25w95 td {
    border-width:0;
    border-color:white;
    padding:25px;
}
.c25w100 {
    height:100%;
    width:95%;
}
.c25w100 td {
    border-width:0;
    border-color:white;
    padding:25px;
}
.c20w100 {
    height:100%;
    width:100%;
}
.c20w100 td {
    border-width:0;
    border-color:white;
    padding:20px;
}
.maintable {
    /*
    border-width:4;
    border-color:#f4f4fa;
    border-style:solid;
    */
    width:100%;
    height:100%;
    /*
    background-color:#dddddd;
    */
    padding:10;
}
.maintable td {
    padding:10px;
    padding-left:15px;
    padding-right:6px;
}
.maintable th {
    padding:10px;
}
.maintable td td {
    padding:1px;
}
.maintable td th {
    padding:1px;
}
.maintable td.headerleft {
    padding:4px;
    padding-left:10px;
    width:33%;
}
.maintable td.headercenter {
    padding:4px;
    vertical-align:center;
    text-align:center;
}
.maintable td.headerright {
    padding:4px;
    padding-right:1px;
    vertical-align:top;
    text-align:right;
    width:33%;
}
input {
    /*
    background-color:#ffffaa;
    background-color:#ffffff;
    */
    background-color:default;
}
.labeltable {
    /*
    background-color:#ffffaa;
    */
    background-color:#ffffff;
}
.menutable {
    /*
    background-color:#ffffaa;
    */
    background-color:#ffffff;
    /*
    border-width:3;
    border-top-color:#888888;
    border-left-color:#888888;
    border-bottom-color:#777777;
    border-right-color:#777777;
    border-style:double;
    */
    border-width:2;
    border-color:#f9f9f9;
    border-style:inset;
    border-collapse:collapse;
    width:100%;
    vertical-align:top;
    padding:2px;
}
.menutable th {
    line-height:100%;
    border-width:1;
    border-color:white;
    border-style:ridge;
    background-color:#BBBBBB;
    font-style:bold;
    padding:0px;
    margin:0px;
}
.rowcontent {
   background-color: #CCCCCC;
   background-image: none;
   margin-left: 5px;
}
.nrowcontent {
   background-color: #CCCCCC;
   background-image: none;
   margin-left: 0px;
}
.menutable tr {
    padding:0px;
    margin:0px;
}
.menulink {
    width:auto;
    border-width:1;
    border-top-width:0px;
    border-color:white;
    border-style:ridge;
    padding:1px;
    padding-left:6px;
    padding-right:6px;
    margin:0px;
    text-decoration:none
}
.menutdha {
    width:auto;
    border-width:0;
    border-top-width:0px;
    border-color:white;
    border-style:ridge;
    padding:1px;
    padding-left:6px;
    padding-right:6px;
    margin:0px;
    background-color:#FFFFCC;
    color:#000688;
    text-decoration:none;
}
.menutdlink {
    width:auto;
    border-width:0;
    border-top-width:0px;
    border-color:white;
    border-style:ridge;
    padding:1px;
    padding-left:6px;
    padding-right:6px;
    margin:0px;
    background-color:#FEFEFE;
    color:#001199;
    text-decoration:none;
}
.menutdother {
    background-color:#FEFEFE;
}
.menutable td {
    line-height:140%;
    border-width:1;
    border-color:white;
    border-style:ridge;
    padding:0px;
    margin:0px;
}

.menu  {
     position: absolute;
     width:  200px;
     top: 0px;
     left: 0px;
     text-align: center;
     background-image: url("../images/menu.gif");
     visibility: hidden;
     border: 2px solid;
     border-color: #eeeeee #666666 #666666 #eeeeee;
     padding: 0px;
     z-index: 5;
     filter: alpha(opacity=0);
     -moz-opacity:1
}
.vismenu  {
     background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
     visibility: visible;
     border: 2px solid;
     border-color: #eeeeee #666666 #666666 #eeeeee;
     padding: 0px;
}
.adminmenu  {
     position: absolute;
     /*
     width:  500px;
     height:  300px;
     top: 0px;
     left: 0px;
     */
     width:  54%;
     height:  54%;
     top: 23%;
     left: 23%;
     text-align: center;
     /*
     background-image: url("../images/menu.gif");
     */
     background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
     visibility: hidden;
     border: 2px solid;
     border-color: #eeeeee #666666 #666666 #eeeeee;
     padding: 0px;
     z-index: 5;
     filter: alpha(opacity=0);
     -moz-opacity:1
}
.nadminmenu  {
     /*
     position: absolute;
     */
     width:  500px;
     height:  300px;
     top: 0px;
     left: 0px;
     text-align: center;
     /*
     background-image: url("../images/menu.gif");
     */
     background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
     /*
     visibility: hidden;
     */
     border: 2px solid;
     border-color: #eeeeee #666666 #666666 #eeeeee;
     padding: 0px;
     /*
     z-index: 5;
     filter: alpha(opacity=0);
     -moz-opacity:1
     */
}
.atable  {
   height:  90%;
   width:  92%;
   vertical-align:  top;
   border:  2px;
   border-style:  inset;
   border-color:  #CCCCCC;
   border-collapse:  collapse;
   margin-bottom:15px;
}
.atablerow  {
   height:  100%;
   width:  100%;
   /*
   background-color:  #F2F5F3;
   */
   background-color: #F2F5FE;
   vertical-align:  top;
}
.natable  {
   height:  100%;
   width:  100%;
   vertical-align:  top;
   border:  2px;
   border-style:  inset;
   border-color:  #CCCCCC;
   border-collapse:  collapse;
   margin-bottom:15px;
}
.natablerow  {
   width:  100%;
   background-color:  #F2F5F3;
   background-color: #F2F5FE;
   vertical-align:  top;
}
.aheaderitem {
     padding: 3px 6px 3px 6px;
     color: #000000;
     margin:0px;
     margin-top:15px;
     margin-bottom:15px;
     /*
     background-image: url("../images/butterfly.jpg");
     */
     background-color:#F2F5FE;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 13px;
     color:#001199;
     font-weight: bold;
     display: block;
}
.headeritem {
     padding: 3px 6px 3px 6px;
     color: #000000;
     margin:0px;
     margin-top:8px;
     margin-bottom:8px;
     /*
     background-image: url("../images/butterfly.jpg");
     */
     background-color:#F2F5FE;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 13px;
     color:#001199;
     font-weight: bold;
     display: block;
}
.amenuitem {
     padding: 2px 6px 2px 6px;
     /*
     border-top: 1px solid #AAAAAA;
     */
     border-bottom: 1px solid #AAAAAA;
     margin: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: left;
     color: #000000;
     background-color:#FEFEFE;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 13px;
     font-weight: normal;
     display: block;
}
a.amenuitem:hover {
     background-color: #FFFFFF;
}
.acancelitem {
     padding: 2px 8px 2px 8px;
     margin-left: 2px;
     margin-right: 2px;
     margin-bottom: 10px;
     color: #000000;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 11px;
     font-weight: normal;
     width:75px;
     display: inline;
}
.menuitem {
     padding: 2px 6px 2px 6px;
     /*
     border-top: 1px solid #AAAAAA;
     */
     border-bottom: 1px solid #AAAAAA;
     margin: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: left;
     color: #000000;
     background-color:#F2F5FE;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 13px;
     font-weight: normal;
     display: block;
}
a.menuitem:hover {
     color: #ffffff;
     padding: 2px 6px 2px 6px;
     margin: 12px;
     margin-top: 0px;
     margin-bottom: 0px;
     background-color: transparent;
     background-image: url("../images/pixels.jpg");
}
.cancelitem {
     padding: 2px 4px 2px 4px;
     margin: 8px;
     color: #000000;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 11px;
     font-weight: normal;
     display: block;
}
.seperator {
     border-top: 1px solid #999999;
     border-bottom: 1px solid #eeeeee;
     margin: 2px;
}
.navmenu  {
     position: absolute;
     width:  54%;
     height:  27%;
     top: 23%;
     left: 23%;
     text-align: center;
     background:#F2F5FE url("../images/bgblue.gif") 0 0 repeat-x;
     visibility: hidden;
     border: 2px solid;
     border-color: #eeeeee #666666 #666666 #eeeeee;
     padding: 0px;
     z-index: 5;
     filter: alpha(opacity=0);
     -moz-opacity:1
     /*
     position: absolute;
     width:  350px;
     height:  175px;
     top: 0px;
     left: 0px;
     text-align: center;
     background-image: url("../images/menu.gif");
     visibility: hidden;
     border: 2px solid;
     border-color: #eeeeee #666666 #666666 #eeeeee;
     padding: 0px;
     z-index: 5;
     filter: alpha(opacity=0);
     -moz-opacity:1
     */
}
.navitem {
     padding: 2px 6px 2px 6px;
     /*
     border-top: 1px solid #AAAAAA;
     */
     border-bottom: 1px solid #AAAAAA;
     margin: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     text-align: left;
     color: #000000;
     background-color:#FFFFFF;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 13px;
     font-weight: normal;
     display: block;
     /*
     padding: 2px 6px 2px 6px;
     border-top: 1px solid #AAAAAA;
     margin: 0px;
     text-align: left;
     color: #000000;
     background-color:#F2F5FE;
     text-decoration: none;
     font-family: ms sans serif;
     font-size: 11px;
     font-weight: normal;
     display: block;
     */
}
a.navitem:hover {
     /*
     color: #ffffff;
     padding: 2px 6px 2px 6px;
     margin: 0px;
     background-color: transparent;
     background-image: url("../images/pixels.jpg");
     */
}

