
/* 

  User-Interface div styles information.  This is a modification of the 
    style sheet found on:

    -- Even more rounded corners with CSS: Base stylesheet -- 

    http://www.schillmania.com/content/projects/even-more-rounded-corners/

    http://www.schillmania.com/projects/dialog2/

    The main change was to reverse the style information so the left
    side of the image is kept rather than the right.  This better allows 
    for incorporation of images into the background.

    Other changes were minor adjustments to fit our site/image.

*/

.ui {
 position:relative;
 margin:3% auto;
 vertical-align:middle;
 text-align:center;
 min-width:8em;
 max-width:1200px; 
 color:#fff;
 z-index:1;
 margin-left:-2px; /* default, width of left corner */
 margin-right:2px; /* default, width of left corner */
 margin-bottom:0%; /* spacing under dialog */
 padding-top:20px;
 height:92%;
}

.ui .content,
.ui .t,
.ui .b,
.ui .b div {
 background:transparent url(../images/FORMSInterface.gif) no-repeat top left;
 _background-image:url(../images/FORMSInterface.gif);
}

.ui .content {
 position:relative;
 height:100%;
 zoom:1;
 _overflow-y:hidden;
 padding:3px -8px 0px 0px;
}

.ui .t {
 /* top+right vertical slice */
 position:absolute;
 left:100%;
 top:0px;
 width:12px; 
 /* top slice width */
 margin-right:12px;
 height:100%;
 _height:1600px; 
 /* arbitrary long height, IE 6 */
 background-position:top right;
}

.ui .b {
 /* bottom */
 position:relative;
 width:100%;
 margin-top:-3px;
}

.ui .b,
.ui .b div {
 height:12px; 
 /* height of bottom cap/shade */
 font-size:1px;
}

.ui .b {
 background-position:bottom left;
}

.ui .b div {
 position:relative;
 /*
 width:12px; 
 */
 margin-left:12px;
 margin-right:-12px;
 background-position:bottom right;
 width:100%;
}

.ui .hd,
.ui .bd,
.ui .ft {
 position:relative;
}

.ui .wrapper {
 /* extra content protector - preventing vertical overflow (past background) */
 position:static;
 max-height:1000px;
 /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, */
 /* and may degrade performance. Might be worth trying without if you aren't    */
 /* worried about height/overflow issues.                                       */
 overflow:auto; 
}

.ui h1,
.ui p {
 margin:0px; 
 /* margins will blow out backgrounds, leaving whitespace. */
 padding:0.5em 0px 0.5em 0px;
}

.ui h1 {
 padding-bottom:0px;
}

