
#if ($status=="VIEWPERM")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="View/Assign Permissions ($acrvar $typevar)";
    parent.document.getElementById('menuother').style.display='none';
    parent.document.getElementById('menucancel').style.display='inline';
    parent.document.getElementById('menusubmit').style.display='inline';
</script>

<style>
td,input {
   font-size:8pt;
}
.pc {
   display:block;
}
</style>

<script>
var _alreadyv_=false;
alrdy=false;
function validate() {
   if (!alrdy) {
      alrdy=true;
      document.forms[0].submit();
   }
}
function cc(ele) {
   var p=document.getElementsByTagName("TR");
   if (ele.checked) {
      for (i=0;i<p.length;i++) {
         if (p[i].id=="trp") p[i].style.display="none";
      }
   } else {
      for (i=0;i<p.length;i++) {
         if (p[i].id=="trp") p[i].style.display="block";
      }
   }
}
</script>

<body class="bgcolor" onload="enterKeyFunc('validate();');">

   <form action='permassign.asputil' method=POST >

   <table cellpadding=2 cellspacing=2> 

      <tr id="trp">
         <td style="background-color:#BBBBBB;text-align:center"><b>Assigned</b></td>
         <td style="background-color:#BBBBBB;text-align:center"><b>PermAcr</b></td>
         <td style="background-color:#BBBBBB;text-align:center;width:100%"><b>PermDesc</b></td>
      </tr>
   #if ($typevar.toUpperCase()=="USER" && $haveperm ) 
      <tr>
         <td style="background-color:#FFCCCC;text-align:center">
                <input type="checkbox" name="clearall" $i.permchecked value="1"
                   onMouseOver="this.style.cursor='hand'" onclick="cc(this)"
                />
         </td>
         <td colspan=2 style="background-color:#FFCCCC;width:100%"><b>Clear user-specific permissions (use role-based permissions)</b></td>
      </tr>
   #end
   #foreach ($i in $list) 
      <tr id="trp">
         <td style="background-color:#FFFFFF;text-align:center">
                <input type="checkbox" name="r_${i.permobj.getPermid()}" $i.permchecked value="1"
                   onMouseOver="this.style.cursor='hand'"
                />
         </td>
         <td style="background-color:#FFFFFF">
                <small><nobr>$i.permobj.getPermacr()</nobr></small>
         </td>
         <td style="background-color:#FFFFFF" width=100%>
                <nobr>$i.permobj.getPermdesc()</nobr>
         </td>
      </tr>
   #end

   </table>

   <input type="hidden" name="idvar" value="$idvar" />
   <input type="hidden" name="typevar" value="$typevar" />
   <input name="sbutton" type="button" style="display:none" onclick='validate()'>
   </form>

</body>
</html>

#else

   <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >
   </body>
   </html>
   <script>
   #if ($status=='PERMASSIGNED')
      alert("Permissions successfully assigned");
      parent.location.reload();
   #elseif ($status=='PERMCLEARED')
      alert("User permissions have been cleared.  Role permissions will be used.");
      parent.location.reload();
   #end 
   </script>

#end 


