
   <HTML>

   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

   <BODY class="rowcontent">

   #if ($list.size()>0)
      <table class=menutable>
         <tr>
             <th align=center style="padding-left:3;padding-right:3"   >
                 <small><small>RoleAcronym</small></small> 
             </th>
             <th align=center style="padding-left:3;padding-right:3"   >
                 <small><small>RoleDescription</small></small> 
             </th>
         </tr>
      #foreach( $i in $list )
         <tr onMouseOver="this.style.cursor='hand'"
             title="select $i.getRoleacr() Role"
             onclick="parent.rolePerm('$i.getAroleid()');"
             >
             <td align=center class="menutdlink" style="padding-left:5px;padding-right:5px"><nobr>$i.getRoleacr()</nobr></td>
             <td align=left class="menutdlink" style="padding-left:5px;padding-right:5px;width:100%"><nobr>$i.getRoledesc()</nobr></td>
         </tr>
      #end
      </table>

   #else
      <table class=menutable><tr><td align=center>
         <font size=3 color=#aa0000>ERROR PULLING ROLES FROM DATABASE</font>
      </td></tr></table>
   #end

   </BODY>
   </HTML>





