
   <HTML>

   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

   <BODY class="rowcontent">

   #if ($list.size()>0)
      <table class=menutable>
      <form method="post" id='ROWFORM' action="rolemgt.do">
      <input type='hidden' name='SORTCOLUMN'> 
      <input type='hidden' name='HOLDCOLUMN'> 
         <tr>
             <th align=center style="padding-left:3;padding-right:3"   >
                 <small><small>UserName</small></small> 
             </th>
         </tr>
        </form> 
      #foreach( $i in $list )
         <tr onMouseOver="this.style.cursor='hand'"
             title="select $i.getUserdesc() User"
             onclick="parent.userPerm('$i.getAuserid()');"
             >

             <td align=center class="tbltext" style="padding-left:5px;padding-right:5px;width:100%"><nobr>$i.getUserdesc()</nobr></td>
         </tr>
      #end
      </table>

   #else
      <table class=menutable><tr><td align=center>
         <font size=3 color=#aa0000>ERROR PULLING ROLES FROM DATABASE</font>
      </td></tr></table>
   #end

   </BODY>
   </HTML>





