
#if ($status=="EDITCAT")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="Modify Category - $datatableha.hadesc";
    parent.document.getElementById('menuother').style.display='none';
    parent.document.getElementById('menusubmit').style.display='inline';
</script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('hadesc').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
      e.value=e.value.toUpperCase();
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (document.getElementById('hadesc').value=='' 
         ) {
         alert('ERROR:  Description must not be missing.'); 
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert(e);
      alert('ERROR:  Description must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=3 cellspacing=3>

      <form action='editcatsubmit.dtutil' method=POST >
      <tr>
         <td align=right><nobr>Category Description:</nobr></td>
         <td><input id="hadesc" name="hadesc" type="text" size=40 style="text-align:center" value="$datatableha.hadesc"></td>
      </tr>
      <input name="dthaid" type="hidden" value="$datatableha.dthaid">
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>

</body>
</html>

#elseif ($status=="ADDCAT")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="Add Sub-Category of - $datatableha.hadesc";
    parent.document.getElementById('menuother').style.display='none';
    parent.document.getElementById('menusubmit').style.display='inline';
</script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('hadesc').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
      e.value=e.value.toUpperCase();
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (document.getElementById('hadesc').value=='' 
         ) {
         alert('ERROR:  Description must not be missing.'); 
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert(e);
      alert('ERROR:  Description must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=3 cellspacing=3>

      <form action='addcatsubmit.dtutil' method=POST >
      <tr>
         <td align=right><nobr>Category Description:</nobr></td>
         <td><input id="hadesc" name="hadesc" type="text" size=40 style="text-align:center"></td>
      </tr>
      <input name="dthaid" type="hidden" value="$datatableha.dthaid">
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>

</body>
</html>

#elseif ($status=="MOVECATSEL" || $status=="VIEWALLSEL")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script type='text/javascript' src='dwr/engine.js'></script>
<script type='text/javascript' src='dwr/util.js'></script>
<script type='text/javascript' src='dwr/interface/FormUtilDwr.js'></script>
<style type="text/css">
.m1 { margin-left:2pt;margin-right:0pt; }
.m2 { margin-left:2pt;margin-right:2pt; }
.menutable th { padding:3px; font-size:xx-small; text-align:center; }
td.menutdha { padding-left:5px; padding-right:5px; font-size:xx-small; text-align:center; }
td.menutdlink { padding-left:5px; padding-right:5px; font-size:xx-small; text-align:center; }
td.menutdlink.w { width:100%; text-align:left; }
</style>
<script>
   #if ($status=="MOVECATSEL")
      #if ($passobj.class.name.indexOf("Datatabledef")>=0)
    parent.document.getElementById('headeritem').innerHTML="Move DataTable: - $passobj.dtdesc<br><small>(Click Category to Move To)</small>";
      #else 
    parent.document.getElementById('headeritem').innerHTML="Move Remote DataTable<br><small>(Click Category to Move To)</small>";
      #end 
   #else 
    parent.document.getElementById('headeritem').innerHTML="DataTable Categories";
   #end 
    parent.document.getElementById('menuother').style.display='none';
    parent.document.getElementById('menusubmit').style.display='none';
   #if ($status=="MOVECATSEL")
    function movetable(dthaid,objecttype,objectid) {
       document.getElementById("dthaid").value=dthaid;
       document.getElementById("objectid").value=objectid;
       document.getElementById("objecttype").value=objecttype;
       document.forms[0].submit();
    }
   #else 
    function viewall(dthaid,hadesc) {
       parent.currdthaid=dthaid;
       parent.currhadesc=hadesc;
       document.getElementById("dthaid").value=dthaid;
       document.getElementById("hadesc").value=hadesc;
       document.forms[0].submit();
    }
   #end 
</script>
<BODY class="bodymenu">
<table class=menutable>
         <tr onMouseOver="moverto()">
             #set( $hcol = $table.colNumber)
             <th align=center colspan="$hcol">
                DtCat 
             </th>
         </tr>
  #foreach ( $row in [$table.row0..$table.rowEnd])
    <tr>
    #foreach ( $col in [$table.col0..$table.colEnd])
      #if ( $table.isVisible($row, $col) )
        #if ( $table.isDefaultCell($row, $col) )
          <td> </td>
        #else
          #set ( $cell = $table.getCell($row, $col) )
             #if ($cell.content.type=="datatableha")
          <td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" class=menutdha
                #if ($cell.content.obj.hadesc!="&nbsp;")
              onMouseOver="this.style.cursor='hand';"
   #if ($status=="MOVECATSEL")
      #if ($passobj.class.name.indexOf("Datatabledef")>=0)
              onClick="movetable('$cell.name','$passobj.class.name','$passobj.dtdefid')"
      #else
              onClick="movetable('$cell.name','$passobj.class.name','$passobj.rdtcatid')"
      #end
   #else
              onClick="viewall('$cell.name','$cell.content.obj.hadesc')"
   #end
                #end
              name="$cell.name"
              style="padding-top:10px;padding-bottom:10px"
             > 
                 $cell.content.obj.hadesc 
             #end
          </td>
        #end
      #end
    #end
  #end
</table>
#if ($status=="MOVECATSEL")
<form method="post" id='MOVETABLE' action="movecatsubmit.dtutil">
   <input type='hidden' name='dthaid'> 
   <input type='hidden' name='objecttype'> 
   <input type='hidden' name='objectid'> 
</form>
#else
<form method="post" id='VIEWALL' action="viewallsubmit.dtutil">
   <input type='hidden' name='dthaid'> 
   <input type='hidden' name='hadesc'> 
</form>
#end
</body>
</html>

#elseif ($status=="REORDERCAT")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<link rel="stylesheet" type="text/css" href="CSS/DragDrop.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script type='text/javascript' src='JavaScript/DragDrop.js'></script>
<script>

parent.document.getElementById('headeritem').innerHTML="Re-order Categories (Drag and Drop selections)";
parent.document.getElementById('menuother').style.display='none';
parent.document.getElementById('menusubmit').style.display='inline';

window.onload = function(){

		Demos[0] = document.getElementById('fset');
		CreateDragContainer(document.getElementById('DragContainer'));
		// Create our helper object that will show the item while dragging
		dragHelper = document.createElement('DIV');
		dragHelper.style.cssText = 'position:absolute;display:none;';

		document.body.appendChild(dragHelper);
}

function subm() {

   var o=document.getElementById('DragContainer');
   var tstr='';
   for(var j=0; j<o.childNodes.length; j++){
      // Firefox puts in lots of #text nodes...skip these
      if (o.childNodes[j].nodeName=='#text') continue;
      if (j>0) tstr=tstr + ",";
      tstr=tstr + o.childNodes[j].id;
   }
   document.getElementById('corderstr').value=tstr;
   document.forms[0].submit();

}

</script>

<body class="bgcolor" onload="enterKeyFunc('subm();');">

   <FIELDSET id=fset>
      <DIV>
         <OL id=DragContainer>
#foreach ($i in $list) 
           <LI id=li_$i.getDthaid()>$i.getHadesc()</LI>
#end
         </OL>
      </DIV>
   </FIELDSET> 
   <input name="sbutton" type="button" style="display:none" onclick='subm()'>
   <form action='reordercatsubmit.dtutil' method=POST >
      <input type=hidden name="corderstr" >
   </form>
   </table>

</body>
</html>

#elseif ($status=="LISTPROFILES")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="Form/DataTable Permissions Profile Administration";
    var ob=parent.document.getElementById('menuother');
    ob.value='Add New Profile';
    ob.style.width='125px';
    ob.onclick= function() { location.href('newprofile.dtutil') };
    ob.style.display='inline';
    parent.document.getElementById('menusubmit').style.display='none';
</script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
function validate() {
   /*
   try {   
      if (trim(document.getElementById('site').value)=='' ||
          trim(document.getElementById('study').value)=='' ||
          trim(document.getElementById('studydesc').value)=='') {
         alert('ERROR:  Values for SiteNumber, StudyNumber and StudyDescription must not be missing.'); 
         return false;
      } else {
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  Values for SiteNumber, StudyNumber and StudyDescription must not be missing.'); 
      return false;
   }
   */
}
</script>

<body class="bgcolor">

   <table cellpadding=3 cellspacing=2 style="width:100%"> 

#if ($list.size()>0)      
      <tr>
         <td style="background-color:#BBBBBB;text-align:center"><b>ProfileLevel</b></td>
         <td style="background-color:#BBBBBB;text-align:center"><b>ProfileAcr</b></td>
         <td style="background-color:#BBBBBB;text-align:center"><b>ProfileDesc</b></td>
         <td style="background-color:#BBBBBB;text-align:center"><b>&nbsp;</b></td>
      </tr>
   #foreach ($i in $list) 
      <tr>
         <td style="background-color:#FFFFFF;text-align:center">
                $i.level
	     </select>
         </td>
         <td style="background-color:#FFFFFF;text-align:center">
                <nobr>$i.profile.getProfileacr()</nobr>
	     </select>
         </td>
         <td style="background-color:#FFFFFF" width=100% align=center>
                $i.profile.getProfiledesc()
	     </select>
         </td>
         <td align=center style="background-color:#FFFFFF;text-align:center"><nobr><input type=image img src="images\RMSEdit1a.gif" title="Edit Profile"
                          onClick="parent.profileMenu('$i.profile.getDtprofileid()')"
                          style="margin-left:2pt;margin-right:0pt"
                          onMouseDown='this.src="images/RMSEdit1b.gif"'
                          onMouseUp='this.src="images/RMSEdit1a.gif"'
                          onMouseOut='this.src="images/RMSEdit1a.gif"'
                          ><input type=image img src="images\RMSDel1a.gif" title="Delete Profile"
                          onClick="parent.profileDelete('$i.profile.getDtprofileid()','$i.profile.getProfileacr()')"
                          style="margin-left:2pt;margin-right:2pt"
                          onMouseDown='this.src="images/RMSDel1b.gif"'
                          onMouseUp='this.src="images/RMSDel1a.gif"'
                          onMouseOut='this.src="images/RMSDel1a.gif"'></nobr></td>

      </tr>
   #end
#else
      <tr>
         <td style="background-color:#FFFFFF;color:#AA0000;text-align:center;width:100%;padding-top:10px;padding-bottom:10px;">
            No form permissions profiles have been defined
         </td>
      </tr>
#end
   </table>
   
</body>
</html>

#elseif ($status=="NEWPROFILE")

<html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
   <script type='text/javascript'>
     parent.document.getElementById('headeritem').innerHTML="Select Profile Level";
   </script>

   <body class="bodymenu">
      <table class="natable">
   #foreach( $i in $list )
         <tr>
            <td id="clickthis" onclick="hideMenu('winMenu');resizeMenu('winMenu',70);location.replace('addprofile.dtutil?profilelevel=${i.fieldvalue}');showMenu('winMenu');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
               Define ${i.fieldname}-Level Profile 
            </td>
         </tr>
   #end
         <tr>
         <td class="natablerow" style="height:100%">
            &nbsp;
         </td>
         </tr>
      </table>
   </body>
   #if ($list.size()==1) 
   <script type='text/javascript'>
     document.getElementById('clickthis').click();
   </script>
   #end
</html>


#elseif ($status=="ADDPROFILE")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="Define $profilelevel Profile";
    parent.document.getElementById('menuother').style.display='none';
    parent.document.getElementById('menusubmit').style.display='inline';
</script>


<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('profileacr').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
      e.value=e.value.toUpperCase();
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (document.getElementById('profileacr').value=='' ||
          document.getElementById('profiledesc').value=='' 
         ) {
         alert('ERROR:  Acronym and Description must not be missing.'); 
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert(e);
      alert('ERROR:  Acronym and Description must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=3 cellspacing=3>

      <form action='addprofilesubmit.dtutil' method=POST >
      <tr>
         <td align=right><nobr>Profile Level:</nobr></td>
         <td><input id="profilelevel" name="profilelevel" type="text" size=20 readonly=readonly style="text-align:center" value="$profilelevel"></td>
      </tr>
      <tr>
         <td align=right><nobr>Profile Acronym:</nobr></td>
         <td><input id="profileacr" name="profileacr" type="text" size=20 style="text-align:center" onkeyup="upcase(this)" ></td>
      </tr>
      <tr>
         <td align=right><nobr>Profile Description:</nobr></td>
         <td><input id="profiledesc" name="profiledesc" type="text" size=60 style="text-align:left"></td>
      </tr>
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>

</body>
</html>


#elseif ($status=="PROFILEMENU")

<html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

   <script>
       parent.document.getElementById('headeritem').innerHTML="Administration Menu";
       resizeMenu('winMenu',54);
       showMenu('winMenu');
       parent.document.getElementById('menucancel').style.display='inline';
       parent.document.getElementById('menusubmit').style.display='none';
       parent.document.getElementById('menuother').style.display='none';
       function setAuthValue(parm,value) {
       
          // set value
          AuthAccessDwr.setAuthValue(parm,value,{ async:false } ); 
       
       }
   </script>      
   <body class="bodymenu">
      <table class="natable">
         <tr>
         <td onclick="javascript:hideMenu('winMenu');resizeMenu('winMenu',70);location.href('modifyprofile.dtutil?dtprofileid=$dtprofileid');showMenu('winMenu');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
            Edit Profile Attributes
         </td>
         </tr>
         <tr>
         <td onclick="javascript:hideMenu('winMenu');resizeMenu('winMenu',70);parent.location.href('profilepermissions.dtputil?dtprofileid=$dtprofileid');showMenu('winMenu');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
            Administer Profile Permissions
         </td>
         </tr>
         <tr>
         <td class="natablerow" style="height:100%">
            &nbsp;
         </td>
         </tr>
</html>


#elseif ($status=="MODIFYPROFILE")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="Edit $profile.profileacr Profile";
    parent.document.getElementById('menuother').style.display='none';
    parent.document.getElementById('menusubmit').style.display='inline';
</script>


<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('profileacr').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
      e.value=e.value.toUpperCase();
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (document.getElementById('profileacr').value=='' ||
          document.getElementById('profiledesc').value=='' 
         ) {
         alert('ERROR:  Acronym and Description must not be missing.'); 
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert(e);
      alert('ERROR:  Acronym and Description must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=3 cellspacing=3>

      <form action='modifyprofilesubmit.dtutil' method=POST >
      <tr>
         <td align=right><nobr>Profile Level:</nobr></td>
         <td><input id="profilelevel" name="profilelevel" type="text" size=20 readonly=readonly style="text-align:center" value="$level"></td>
      </tr>
      <tr>
         <td align=right><nobr>Profile Acronym:</nobr></td>
         <td><input id="profileacr" name="profileacr" type="text" size=20 style="text-align:center" onkeyup="upcase(this)" value="$profile.profileacr" ></td>
      </tr>
      <tr>
         <td align=right><nobr>Profile Description:</nobr></td>
         <td><input id="profiledesc" name="profiledesc" type="text" size=60 style="text-align:left" value="$profile.profiledesc"></td>
      </tr>
      <input id="dtprofileid" name="dtprofileid" type="hidden" value="$profile.dtprofileid">
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>

</body>
</html>


#elseif ($status=="EDITATTRS")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('headeritem').innerHTML="Edit DataTable Attributes";
parent.document.getElementById('menucancel').style.display='inline';
parent.document.getElementById('menusubmit').style.display='inline';
parent.document.getElementById('menuother').style.display='none';
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('dtacr').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
   e.value=e.value.toUpperCase()
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (
          trim(getFormElementValueById('dtacr'))=='' ||
          trim(getFormElementValueById('dtdesc'))=='' 
         ) {
         alert('ERROR:  DataTable Acronynm and DataTable Description must be non-missing');
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  DataTable Acronynm and DataTable Description must be non-missing\n\n   ' + e.message );
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='editattrssubmit.dtutil' method=POST >
      <input name="dtdefid" type="hidden" value="$dtdefid"></td>
      <tr>
         <td><nobr>DataTable Acronym:</nobr></td>
         <td><input name="dtacr" type="text" size=10 maxlength=10 onkeyup="upcase(this)" value="$dtacr"></td>
      </tr>
      <tr>
         <td><nobr>DataTable Description:</nobr></td>
         <td><input name="dtdesc" type="text" size=70 maxlength=70 value="$dtdesc"></td>
      </tr>
      <tr>
         <td>NOTES:</td>
         <td>
<textarea id="notes" name="notes" rows=9 cols=80 wrap=on>
#if ($notes!='\$notes')
$notes
#end
</textarea>
         </td>   
      </tr>   
      <input id="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>


</body>
</html>



#elseif ($status=="ARCHIVESTATUS")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('headeritem').innerHTML="Change Archive Status - DataTable: &nbsp; $dtacr";
parent.document.getElementById('menucancel').style.display='inline';
parent.document.getElementById('menusubmit').style.display='inline';
parent.document.getElementById('menuother').style.display='none';
alrdy=false;
function validate() {
   if (!alrdy) {
      alrdy=true;
      document.forms[0].submit();
   }
}
</script>

<body class="bgcolor" onload="enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='archivestatussubmit.dtutil' method=POST >
      <input name="dtdefid" type="hidden" value="$dtdefid"></td>
      <tr>
         <td><nobr>Archived DataTable:</nobr></td>
         <td><input name="isarchived" type="checkbox" value="1"
              #if ($isarchived)
              checked
              #end
             ></td>
      </tr>
      <input id="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>


</body>
</html>


#elseif ($status=="REPLACEHTMLDOCUMENT")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('headeritem').innerHTML="Replace HTML Form Document";
parent.document.getElementById('menusubmit').style.display='inline';
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('formsource').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
   e.value=e.value.toUpperCase()
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (
          trim(getFormElementValueById('formsource'))=='' 
         ) {
         alert('ERROR:  A valid form selected before submission');
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  A valid form selected before submission\n\n   ' + e.message);
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='replacehtmldocumentsubmit.dtutil' method=POST ENCTYPE='multipart/form-data' >
      <tr>
         <td><nobr>File to Upload:</nobr></td>
         <td>
         <input name="formsource" type="file" size=70>
         </td>
      </tr>
      <input name="formtypeid" type="hidden" value="$formtypeid">
      <input name="dtdefid" type="hidden" value="$dtdefid">
      <input id="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>


</body>
</html>

#else

   <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" >
   </body>
   </html>
   <script>
   #if ($status=='CATEDITED')
      alert("Category has been successfully modified");
      parent.location.reload();
   #elseif ($status=='CATADDED')
      alert("Sub-Category has been successfully added");
      parent.location.reload();
   #elseif ($status=='DTMOVED')
      alert("DataTable has been successfully moved");
      parent.location.reload();
   #elseif ($status=='NOREORDERROOT')
      alert("Root categories cannot be reordered");
      parent.location.reload();
   #elseif ($status=='NOREMOVEROOT')
      alert("This category cannot be removed");
      parent.location.reload();
   #elseif ($status=='NOREMOVESUBCAT')
      alert("Category contains sub-categories.  Cannot be removed.");
      parent.location.reload();
   #elseif ($status=='CATCOLLAPSED')
      alert("Category successfully removed");
      parent.location.reload();
   #elseif ($status=='CATNOTUNIQUE')
      alert("Category description must be unique within this sub-category");
      parent.location.reload();
   #elseif ($status=='CATREORDERED')
      alert("Categories have been successfully re-ordered");
      parent.location.reload();
   #elseif ($status=='DUPLICATEPROFILE')
      alert("This profile acronym already exists in this level");
      window.history.go(-1);
   #elseif ($status=='PROFILEADDED')
      alert("Profile has been added to database");
      window.history.go(-2);
   #elseif ($status=='PROFILEPULLERROR')
      alert("Error pulling profile from database");
      window.history.go(-1);
   #elseif ($status=='PROFILEMODIFIED')
      alert("Profile attributes have been modified");
      window.history.go(-3);
   #elseif ($status=='PROFILEDELETED')
      alert("Profile has been deleted");
      window.history.go(-1);
   #elseif ($status=='PROFILENOTEMPTY')
      alert("ERROR:  DataTables are currently assigned to this profile.  " +
            "Can only remove a profile if it is not in use.");
      window.history.go(-1);
   #elseif ($status=='EDITATTROK')
      alert("DataTable attributes sucessfully changed.");
      parent.location.reload();
   #elseif ($status=='ARCHIVESTATUSOK')
      alert("DataTable archive status sucessfully changed.");
      parent.location.reload();
   #elseif ($status=='DTDELETEOK')
      alert("DataTable has been successfully deleted.");
      parent.location.reload();
   #elseif ($status=='DTDELETEERROR')
      alert("DataTable could not be deleted.  Data have already been entered for this table.");
      parent.location.reload();
   #elseif ($status=='HTMLDOCUMENTREPLACED')
      alert("Stored HTML document for this table has been successfully replaced.");
      parent.location.reload();
   #elseif ($status=='HTMLDOCUMENTNOTREPLACED')
      alert("ERROR:  Could not replace HTML document for this table");
      parent.location.reload();
   #elseif ($status=='REMOTEDT')
      alert("This is a remote installation file.  It cannot be modified by this installation.");
      parent.location.reload();
   #elseif ($status=='DTPULLERROR')
      alert("Error pulling datatable from database");
      window.history.go(-1);
   #elseif ($status=='NOAUTH')
      alert("ERROR:  Your account lacks the required permission level to perform this task");
      parent.location.reload();
   #end 
   </script>

#end



