
#if ($status=='DELETED')

  <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" >
  </body>
  </html>
  <script>
     alert("Record has been deleted.");
     window.history.go(-1);
  </script>

#end

