   <HTML>

   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
   <script type='text/javascript' src='dwr/engine.js'></script>
   <script type='text/javascript' src='dwr/util.js'></script>
   <script type='text/javascript' src='dwr/interface/FormpermUtilDwr.js'></script>
   <script>
   function clicked(e) {
      var v=e.getElementsByTagName("input");
      for (i=0;i<v.length;i++) {
         v[i].click();
      }
   }
   function profileAssign() {
      var _reply="";
      FormpermUtilDwrReply = function(data) {
         _reply=DWRUtil.toDescriptiveString(data,1);
         if (_reply.indexOf("OK")<0) {
            alert("ERROR:  Role membership could not be updated.");
         }
      }
      // set value
      FormpermUtilDwr.setFormProfile(getFormElementValueById("dtdefid"),getFormElementValueById("dtprofileid"),{ callback:FormpermUtilDwrReply,async:true });
   }
   </script>

   <BODY class="rowcontent">

      <table class=menutable cellspacing=0 cellpadding=0>

         <form>
   #foreach ($i in $parm.profilelist) 
         <tr onMouseOver="this.style.cursor='hand'"
             title="select $i.getUserdesc() User"
             onclick="clicked(this);"
             >
             <td align=left class="tbltext" style="padding-left:5px;padding-right:5px;width:100%;border:0;line-height:50%"><nobr>
            <input type=radio name=dtprofileid value="$i.dtprofileid" onclick="profileAssign();"
      #if ($i.dtprofileid==$parm.currprofile.dtprofileid)
         checked
      #end
             >$i.profiledesc &nbsp;[$i.profileacr]<br>
             </nobr></td>
         </tr>
   #end
         <input type=hidden name=dtdefid id=dtdefid value="$parm.dtdefid">
         </form>

      </table>

   </BODY>
   </HTML>
