
<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script type='text/javascript' src='dwr/engine.js'></script>
<script type='text/javascript' src='dwr/util.js'></script>
<script type='text/javascript' src='dwr/interface/GroupUtilUserDwr.js'></script>
<script>
   function clicked(ischecked,parentid,auserid) {
      var _reply="";
      GroupUtilUserDwrReply = function(data) {
         _reply=DWRUtil.toDescriptiveString(data,1);
         if (_reply.indexOf("OK")<0) {
            alert("ERROR:  Group membership could not be updated.");
         }
      }
      // set value
      GroupUtilUserDwr.setMembership(ischecked,parentid,auserid,{ callback:GroupUtilUserDwrReply,async:false } );
   }
</script>
<style type="text/css">
   .menutable th { padding:3px; font-size:xx-small; text-align:center; }
   td.tbltext { padding-left:5px; padding-right:5px; font-size:x-small; text-align:center; }
   td.tbltext.w { width:100%; text-align:center; }
</style>
<BODY class="rowcontent">
#if ($list.size()>0)
   <table class=menutable>
   <form method="post" id='ROWFORM' action="groupmgt.do">
   <input type='hidden' name='SORTCOLUMN'> 
   <input type='hidden' name='HOLDCOLUMN'> 
   <tr>
      <th>Member</th>
      <th>User</th>
   </tr>
   </form> 
   #foreach( $i in $list )
   <tr>
      <td class="tbltext">
         <input type="checkbox" onclick=clicked(this.checked,$i.agroupid,$i.allusers.auserid)
            onMouseOver="this.style.cursor='hand'" #if (${i.isassigned}) checked #end />
      </td>
      <td class="tbltext w"><nobr>${i.allusers.userdesc}</nobr></td>
   </tr>
   #end
   </table>
#else
   <table class=menutable><tr><td align=center>
      <font size=3 color=#aa0000>ERROR PULLING USERS FROM DATABASE</font>
   </td></tr></table>
#end
</BODY>
</HTML>

