
##$status <br>
##$list.size() <br>
##$showstudybutton <br>
##$sdid <br>

#if ($status=='OK')

   <HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>

   #parse("WinCheck.vm")
   #parse("NavMenu.vm")

   <script>
   function ls() {
      try {
         document.links[0].focus();
      } catch (e) {}
   }
   var currgroupacr;
   var curragroupid;
   function groupAdmin(groupacr,agroupid) {
      getFrameByName('wmframe').location.replace('groupmgtrows.am');
      currgroupacr=groupacr;
      curragroupid=agroupid;
   }
   </script>

   <HEAD><TITLE>FORMS Server-Side Application</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:90%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter>
        <br>
      <H2><nobr>Researcher/Analyst Group Management</nobr></H2><br>
        <p>
        </td>
        <td class=headerright>
        #parse("ButtonsABNLH.vm")
        </td>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0">

     <IFRAME src="groupmgtrows.do" height=100% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
        <tr>
        <td align=center colspan=3>
         <INPUT TYPE='submit' VALUE='Define New Group' onClick="getFrameByName('wmframe').location.replace('newgroup.agutil');resizeMenu('winMenu',54);showMenu('winMenu');" style="width:250px"/>
        </td>
        </tr>

      </table>

 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>

   </BODY>
   </HTML>

#elseif ($status=='SORT')

  <html>
  <body bgcolor=#CCCCCC>
  </body>
  </html>
  <script>
     parent.location.replace("groupmgt.do");
  </script>   

#elseif ($status=='OPTIONS')

  <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" >
  </body>
  </html>
  <script>
     parent.location.replace("groupmgt.do");
  </script>   

#else

  <html><body><br>ERROR:  Velocity template error</body></html>

#end


