
#############
#############
## ADDLINK ##
#############
#############

#if ($status=="ADDLINK")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('headeritem').innerHTML="Link to Remote Installation";
parent.document.getElementById('menusubmit').style.display='inline';
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('acronym').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
   e.value=e.value.toUpperCase()
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (trim(document.getElementById('acronym').value)=='' ||
          trim(document.getElementById('codeword').value)=='' ||
          trim(document.getElementById('description').value)=='' ||
          trim(document.getElementById('url').value)=='') {
         alert('ERROR:  Values for ACRONYM, DESCRIPTION and URL must not be missing.'); 
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  Values for ACRONYM, DESCRIPTION and URL must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='addlinksubmit.iutil' method=POST ENCTYPE='multipart/form-data' >
      <tr>
         <td><nobr>Installation Acronym:</nobr></td>
         <td><input name="acronym" type="text" size=10 onkeyup="upcase(this)"></td>
      </tr>
      <tr>
         <td><nobr>Installation Description:</nobr></td>
         <td><input name="description" type="text" size=100></td>
      </tr>
      <tr>
         <td><nobr>Code Word:</nobr></td>
         <td><input name="codeword" type="text" size=100></td>
      </tr>
      <tr>
         <td><nobr>Installation URL:</nobr></td>
         <td><input name="url" type="text" size=100></td>
      </tr>
      <tr>
         <td><nobr>Upload Remote Installations's</nobr><nobr>Public Sharing Key: &nbsp;</nobr><nobr>(If currently available)</nobr></td>
         <td>
         <input name="instkey" type="file" size=50>
         </td>
      </tr>
      <tr>
         <td><nobr>Upload Remote Connection</nobr><nobr>String File: &nbsp;</nobr><nobr>(If currently available)</nobr></td>
         <td>
         <input name="connstring" type="file" size=50>
         </td>
      </tr>
      <tr>
         <td><nobr>Create key pair for exchange</nobr><nobr>with this FORMS installation?:</nobr></td>
         <td>
         <input name="createkey" type="checkbox" value="1" checked>
         </td>
      </tr>
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
   </table>


</body>
</html>


##############
##############
## EDITATTR ##
##############
##############

#elseif ($status=="EDITATTR")


<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
parent.document.getElementById('menusubmit').style.display='inline';
function omf() {
   if (!_alreadyv_) {
      _alreadyv_=true;
      document.getElementById('acronym').focus();
      setFormValue(document.getElementById('linstid'),parent.currid);
      setFormValue(document.getElementById('acronym'),parent.curracr);
      setFormValue(document.getElementById('description'),parent.currdesc);
      setFormValue(document.getElementById('codeword'),parent.currcw);
      setFormValue(document.getElementById('url'),parent.currurl);
   }
}
function upcase(e) {
   try {
   e.value=e.value.toUpperCase()
   } catch (e2) {}
}
alrdy=false;
function validate() {
   try {   
      if (trim(document.getElementById('acronym').value)=='' ||
          trim(document.getElementById('codeword').value)=='' ||
          trim(document.getElementById('description').value)=='' ||
          trim(document.getElementById('url').value)=='') {
         alert('ERROR:  Values for ACRONYM, DESCRIPTION and URL must not be missing.'); 
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  Values for ACRONYM, DESCRIPTION and URL must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='editattrsubmit.iutil' method=POST >
      <input name="linstid" type="hidden">
      <tr>
         <td><nobr>Installation Acronym:</nobr></td>
         <td><input name="acronym" type="text" size=10 onkeyup="upcase(this)"></td>
      </tr>
      <tr>
         <td><nobr>Installation Description:</nobr></td>
         <td><input name="description" type="text" size=100></td>
      </tr>
      <tr>
         <td><nobr>Code Word:</nobr></td>
         <td><input name="codeword" type="text" size=100></td>
      </tr>
      <tr>
         <td><nobr>Installation URL:</nobr></td>
         <td><input name="url" type="text" size=100></td>
      </tr>
      </form>
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
   </table>


</body>
</html>


###############
###############
## CREATEKEY ##
###############
###############

#elseif ($status=="CREATEKEY")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('menusubmit').style.display='inline';
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      setFormValue(document.getElementById('acronym'),parent.curracr);
      setFormValue(document.getElementById('linstid'),parent.currid);
      document.getElementById('keypass').focus();
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
   e.value=e.value.toUpperCase()
   } catch (e2) {}
}
alrdy=false;
function createvalidate() {
   try {   
      if (trim(document.getElementById('keypass').value)=='' ||
          trim(document.getElementById('keypassck').value)=='') {
         alert('ERROR:  All input values must not be missing.'); 
         return false;
      } else if (document.getElementById("keypass").value!=document.getElementById("keypassck").value) {
         alert('ERROR:  Password values differ.  They must match.'); 
         return false;
      } else if (document.getElementById("keypass").value.length<6) {
         alert('ERROR:  Password must contain at least 6 characters');
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  All input values must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('createvalidate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='createkeysubmit.iutil' method=POST >
      <input name="acronym" type="hidden" >
      <input name="linstid" type="hidden" >
      <tr>
         <td colspan=2 style="color:880000">
          <i>
             IMPORTANT NOTE:  The remote installation will be unable to communicate with this
             installation until the new public key has been exported from this site and
             imported on the remote installation.<br><br>
             ANY CURRENT COMMUNICATION WILL BE DISABLED UNTIL THE KEY HAS BEEN EXCHANGED WITH AND IMPORTED AT THE REMOTE INSTALLATION!<br>
          </i>
         </td>
      </tr>
      <tr id="kp1">
         <td>Private Key Password:</nobr></td>
         <td>
         <input name="keypass" type="password" size="50">
         </td>
      </tr>
      </form>
      <tr id="kp2">
         <td>Private Key Password (re-enter):</nobr></td>
         <td>
         <input name="keypassck" type="password" size="50">
         </td>
      </tr>
      <input name="sbutton" type="button" style="display:none" onclick='createvalidate()'>
   </table>

</body>
</html>


###############
###############
## IMPORTKEY ##
###############
###############

#elseif ($status=="IMPORTKEY")

<HTML>
<head>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src="dwr/util.js"></script>
<script type='text/javascript' src="dwr/engine.js"></script>
<script type="text/javascript" src="dwr/interface/uploadProxy.js"></script>
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('menusubmit').style.display='inline';
function upkeyvalidate() {
   setFormValue(document.getElementById('acronym'),parent.curracr);
   try {   
      if (trim(document.getElementById('instkey').value)=='') {
         alert('ERROR:  Must enter a valid installation key.'); 
         return false;
      } else {
         return true;
      }
   } catch (e) {
      alert('ERROR:  Must enter a valid installation key.'); 
      return false;
   }
}
</script>
</head>

<body class="bgcolor" onload="enterKeyFunc('upkeyvalidate();');">
<body class="bgcolor" onload="enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form enctype="multipart/form-data" name="importform" method="post" action="importkeysubmit.iutil">
      <input name="acronym" type="hidden">
      <tr>
         <td><nobr>Upload Remote Installation's Public Sharing Key:<br><br></nobr>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="instkey" type="file" size=75><br><br>
         <span style="color:#002288"><i>NOTE:  This will replace any existing key for this installation</i></span>
         </td>
      </tr>
      <input name="sbutton" type="submit" style="display:none" onclick='upkeyvalidate();'>
      </form>
   </table>

</body>
</html>




#########################
#########################
## IMPORTCONNECTSTRING ##
#########################
#########################

#elseif ($status=="IMPORTCONNECTSTRING")

<HTML>
<head>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src="dwr/util.js"></script>
<script type='text/javascript' src="dwr/engine.js"></script>
<script type="text/javascript" src="dwr/interface/uploadProxy.js"></script>
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('menusubmit').style.display='inline';
function connstringvalidate() {
   setFormValue(document.getElementById('acronym'),parent.curracr);
   try {   
      if (trim(document.getElementById('connstring').value)=='') {
         alert('ERROR:  Must enter a valid connection string file.'); 
         return false;
      } else {
         return true;
      }
   } catch (e) {
      alert('ERROR:  Must enter a valid connection string file.'); 
      return false;
   }
}
</script>
</head>

<body class="bgcolor" onload="enterKeyFunc('connstringvalidate();');">

   <table cellpadding=5 cellspacing=5>

      <form enctype="multipart/form-data" name="importform" method="post" action="importconnectstringsubmit.iutil">
      <input name="acronym" type="hidden">
      <tr>
         <td><nobr>Upload Remote Installation's Connection String File:<br><br></nobr>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="connstring" type="file" size=75><br><br>
         <span style="color:#002288"><i>NOTE:  This will replace any existing key for this installation</i></span>
         </td>
      </tr>
      <input name="sbutton" type="submit" style="display:none" onclick='connstringvalidate();'>
      </form>
   </table>

</body>
</html>


################
################
## COMMSTATUS ##
################
################

#elseif ($status=="COMMSTATUS")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="Change Archive Status";
    parent.document.getElementById('menusubmit').style.display='inline';
    parent.document.getElementById('menuother').style.display='none';
</script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('isdisabled').focus();
      setFormValue(document.getElementById('isdisabled'),parent.currisdis);
      setFormValue(document.getElementById('linstid'),parent.currid);
      _alreadyv_=true;
   }
}
var oldisdisabled='';
function setCompareValues() {
   oldisdisabled=getFormElementValueById('isdisabled');
}
alrdy=false;
function validate() {
   try {   
      var isdisabled=trim(getFormElementValueById('isdisabled'));
      if (isdisabled=='') {
         alert('ERROR:  Values for isDisabled must not be missing.'); 
         return false;
      } else {
         if (isdisabled==oldisdisabled) {
            alert('No values have been modified.  Nothing to submit.');
         } else if (!alrdy) {
            alrdy=true;
            document.forms[0].submit();
         }
      }
   } catch (e) {
      alert('ERROR:  Values for isDisabled must not be missing.'); 
      return false;
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onload="enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='commstatussubmit.iutil' method=POST >
      <tr>
         <td><nobr>Communications Status:</nobr></td>
         <td>
            <input type="radio" name="isdisabled" value="false" />&nbsp;&nbsp;Not Disabled<br>
            <input type="radio" name="isdisabled" value="true" />&nbsp;&nbsp;Disabled<br>
         </td>
      </tr>
      <input type=hidden name="linstid" >
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>

</body>
</html>


#else

   <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage">
   </body>
   </html>
   <script>
   #if ($status=='OK')
      parent.location.reload();
   #elseif ($status=='EDITATTROK')
      alert("Installation attributes successfully updated");
      parent.location.reload();
   #elseif ($status=='EDITATTRNOTOK')
      alert("ERROR:  Error editing installation attributes");
      window.history.go(-1);
   #elseif ($status=='KEYCREATED')
      alert("Key successfully created");
      window.history.go(-2);
   #elseif ($status=='NOTCREATED')
      alert("ERROR:  Could not create encryption key");
      window.history.go(-2);
   #elseif ($status=='KEYIMPORTED')
      alert("Key successfully imported");
      window.history.go(-2);
   #elseif ($status=='NOTIMPORTED')
      alert("ERROR:  Could not import encryption key");
      window.history.go(-2);
   #elseif ($status=='CONNECTSTRINGIMPORTED')
      alert("Connection string successfully imported");
      window.history.go(-2);
   #elseif ($status=='CSNOTIMPORTED')
      alert("ERROR:  Could not import connection string");
      window.history.go(-2);
   #elseif ($status=='COMMSTATUSOK')
      parent.location.reload();
   #elseif ($status=='COMMSTATUSNOTOK')
      alert("ERROR:  Could not change communications status");
      window.history.go(-1);
   #elseif ($status=='ADDEDINST')
      parent.location.reload();
   #elseif ($status=='NOKEYIMPORT')
      alert("WARNING:  Installation successfully added, but could not import encryption key");
      parent.location.reload();
   #elseif ($status=='DUPLICATE')
      alert("Installation already exists in database");
      parent.location.reload();
   #end 
   </script>

#end 


