
<html>
<script>
#if ($status=='OK')
   alert("Key pair successfully created");
#else
   alert("ERROR:  Key pair could not be created.  Check keystore.");
#end
   parent.location.replace("joininst.do");
</script>
<body class=bgcolor >
</body>
</html>


