
###############
###############
## JOINLINK1 ##
###############
###############

#if ($status=="JOINLINK1")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('headeritem').innerHTML="Select Local Study and Remote Installation";
parent.document.getElementById('menusubmit').style.display='none';
parent.document.getElementById('menuother').style.display='inline';
parent.document.getElementById('menuother').value='Next';
parent.document.getElementById('menuother').onclick=function() { parent.document.getElementById('menusubmit').click() };

var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('studyid').focus();
      _alreadyv_=true;
   }
}
alrdy=false;
function validate() {
   try {   
      if (trim(document.getElementById('studyid').value)=='' ||
          trim(document.getElementById('instacronym').value)=='') {
         alert('ERROR:  Must select a local study and remote installation for linkage');
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  Must select a local study and remote installation for linkage');
      return false;
   }
}
function ls() {
   parent.document.getElementById("menuother").focus();
}
</script>

<body class="bgcolor" onmouseover="omf();" onLoad="ls();enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='joinselect2.jsutil' method=POST>
      <tr>
         <td><nobr>Select Local Study for Linkage:</nobr></td>
         <td> 
            <select name="studyid" size="1" style="width:auto;">
              <option value=" "></option>
#foreach( $i in $studylist )
              <option value="$i.getStudyid()"
   #if ($studylist.size()==1) 
      selected
   #end   
              >$i.getStudydesc()</option>
#end
             </select>
         </td>
      </tr>
      <tr>
         <td><nobr>Select Remote Installation:</nobr></td>
         <td> 
            <select name="instacronym" size="1" style="width:auto;">
              <option value=" "></option>
#foreach( $i in $instlist )
              <option value="$i.getAcronym()"
   #if ($instlist.size()==1) 
      selected
   #end   
              >$i.getAcronym() [$i.getDescription()]</option>
#end
             </select>
         </td>
      </tr>
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
   </table>


</body>
</html>

#elseif ($status=="JOINLINK2")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('headeritem').innerHTML="Select Remote Study for Linkage";
parent.document.getElementById('menusubmit').style.display='none';
parent.document.getElementById('menuother').style.display='inline';
parent.document.getElementById('menuother').value='Next';
parent.document.getElementById('menuother').onclick=function() { parent.document.getElementById('menusubmit').click() };

var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
      document.getElementById('remotestudyid').focus();
      _alreadyv_=true;
   }
}
alrdy=false;
function validate() {
   try {   
      if (trim(document.getElementById('remotestudyid').value)=='') {
         alert('ERROR:  Must select a remote study for linkage');
         return false;
      } else if (!alrdy) {
         alrdy=true;
         document.forms[0].submit();
      }
   } catch (e) {
      alert('ERROR:  Must select a remote study for linkage');
      return false;
   }
}
function ls() {
   parent.document.getElementById("menuother").focus();
}
</script>

<body class="bgcolor" onmouseover="omf();" onLoad="ls();enterKeyFunc('validate();');">

   <table cellpadding=5 cellspacing=5>

      <form action='joinsubmit.jsutil' method=POST>
      <tr>
         <td><nobr>Select Remote Study for Linkage:</nobr></td>
         <td> 
            <select name="remotestudyid" size="1" style="width:auto;">
              <option value=" "></option>
#foreach( $i in $list )
              <option value="$i.getStudyid()"
   #if ($list.size()==1) 
      selected
   #end   
              >$i.getStudydesc()</option>
#end
             </select>
         </td>
      </tr>
      <input name="studyid" type="hidden" value='${studyid}'>
      <input name="instacronym" type="hidden" value='${instacronym}'>
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
   </table>


</body>
</html>

#elseif ($status=="JOININFO")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
parent.document.getElementById('headeritem').innerHTML="Remote Site Study Description for Joined Study";
parent.document.getElementById('menusubmit').style.display='none';
parent.document.getElementById('menuother').style.display='inline';
parent.document.getElementById('menuother').value='OK';
parent.document.getElementById('menuother').onclick=function() { parent.document.getElementById('menucancel').click() };
function ls() {
   parent.document.getElementById("menuother").focus();
}

</script>

<body class="bgcolor" onLoad="ls()">

   <table cellpadding=5 cellspacing=5>

      <form action='joinsubmit.jsutil' method=POST>
      <tr>
         <td><nobr>Remote Site Study Description: &nbsp;<span style="color:#009911;font-weight:bold;font-size:small">${studydesc}</nobr></td>
      </tr>
   </table>


</body>
</html>

#else

   <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage">
   </body>
   </html>
   <script>
   #if ($status=='OK')
      parent.location.reload();
   #elseif ($status=='JOINNOSTUDIES')
      alert("ERROR:  No studies have been defined");
      window.history.go(-1);
   #elseif ($status=='JOINNOSTUDIES')
      alert("ERROR:  No remote installations have been linked");
      window.history.go(-1);
   #elseif ($status=='NOINSTINFO')
      alert("ERROR:  Could not pull installation information from database.  Try again later.");
      window.history.go(-1);
   #elseif ($status=='NOINSTCONNECT')
      alert("ERROR:  Could not connect to remote installation.  Try again later.");
      window.history.go(-1);
   #elseif ($status=='NOTPROCESSED')
      alert("ERROR:  Could not process request.  Try again later.");
      window.history.go(-1);
   #elseif ($status=='JOINOK')
      alert("Studies successfully joined");
      parent.location.reload();
   #elseif ($status=='UNJOINED')
      alert("Studies have been unjoined");
      parent.location.reload();
   #end 
   </script>

#end 

