
<html>
<script>
   parent.location.replace("joininst.do");
#if ($status=='OK')
   alert("Key successfully imported to FORMS keystore");
#else
   alert("ERROR:  Key could not be imported to keystore check file/keystore");
#end
</script>
<body class=bgcolor >
</body>
</html>


