##$status <br>
##$list.size() <br>
##$sdid <br>

#if ($status=='OK')

   <HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
   <script type='text/javascript' src='dwr/engine.js'></script>
   <script type='text/javascript' src='dwr/util.js'></script>
   <script type='text/javascript' src='dwr/interface/AuthAccessDwr.js'></script>

   #parse("WinCheck.vm")
   #parse("NavMenu.vm")

   <script>
   function setAuthValue(parm,value) {
      // set value
      AuthAccessDwr.setAuthValue(parm,value,{ async:false } ); 
   }
   function ls() {
      try {
         document.links[0].focus();
      } catch (e) {}
   }
   var currislocal;
   var currlstdid;
   var currname;
   var currmediainfoid;
   var currdescription;
   function mediaadmin(islocal,lstdid,name,mediainfoid,description) {
      currislocal=islocal;
      currlstdid=lstdid;
      currname=name;
      currmediainfoid=mediainfoid;
      currdescription=description;
      setAuthValue('islocal',islocal);
      setAuthValue('lstdid',lstdid);
      setAuthValue('mediainfoid',mediainfoid);
      getFrameByName('wmframe').location.replace('mediamgtrows.am');
   }
   function mediago(islocal,lstdid,name,mediainfoid,description) {
      currislocal=islocal;
      currlstdid=lstdid;
      currname=name;
      currmediainfoid=mediainfoid;
      currdescription=description;
      setAuthValue('islocal',islocal);
      setAuthValue('lstdid',lstdid);
      setAuthValue('mediainfoid',mediainfoid);
      location.replace('retrievemediafile.do');
   }
   function showinfo(islocal,lstdid,name,mediainfoid,description) {
      currislocal=islocal;
      currlstdid=lstdid;
      currname=name;
      currmediainfoid=mediainfoid;
      currdescription=description;
      setAuthValue('islocal',islocal);
      setAuthValue('lstdid',lstdid);
      setAuthValue('mediainfoid',mediainfoid);
      parent.getFrameByName('wmframe').location.replace('showinfo.mutil');
      resizeMenu('winMenu',80);
      showMenu('winMenu');
   }
   var currmediahaid;
   var currhadesc;
   function catadmin(mediahaid,hadesc) {
      currmediahaid=mediahaid;
      currhadesc=hadesc;
      getFrameByName('wmframe').location.replace('mediamgtrows2.am');
   }
   function removecat(mediahaid) {
      currmediahaid=mediahaid;
      if (confirm("Are you sure you want to collapse (remove) this category?")) {
         getFrameByName('wmframe').location.replace('removecat.mutil');
      }   
   }
   function profileMenu(mprofileid) {
      getFrameByName('wmframe').location.href('profilemenu.mutil?mprofileid=' + mprofileid);
   }
   function profileEdit(mprofileid) {
      getFrameByName('wmframe').location.href('modifyprofile.mutil?mprofileid=' + mprofileid);
   }
   function profileDelete(mprofileid,profileacr) {
      if (confirm("Are you sure you want to delete this profile [" + profileacr + "]?")) {
         getFrameByName('wmframe').location.href('removeprofilesubmit.mutil?mprofileid=' + mprofileid);
      }   
   }
   </script>

   <HEAD><TITLE>FORMS Server-Side Application</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:90%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter>
        <br>
      <H2><nobr>Study Document/Media Management</nobr></H2>
        <p>
        </td>
        <td class=headerright>
        #parse("ButtonsPABNLH.vm")
        </td>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0">

     <IFRAME src="mediamgtrows.do" height=100% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
      </table>

 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>

   </BODY>
   </HTML>

#elseif ($status=='SORT')

  <html>
  <body bgcolor=#CCCCCC>
  </body>
  </html>
  <script>
     parent.location.replace("mediamgt.do");
  </script>   

#elseif ($status=='OPTIONS')

  <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" >
  </body>
  </html>
  <script>
     parent.location.replace("mediamgt.do");
  </script>   

#else

  <html><body><br>ERROR:  Velocity template error</body></html>

#end

