<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<style type="text/css">
   .amenuitem td { width:100%; padding-top:0px; padding-bottom:0px; height:auto; }
   .l0 { padding-left:8pt; }
   .l1 { padding-left:14pt; }
   .l2 { padding-left:20pt; }
</style>
<BODY class="bodymenu">
<table class="natable">
#if ($studyaccess=='true')
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l0" onClick="parent.location.href(&quot;selectstudy.do&quot;);">
        Study Selection Menu
     </td>
   </tr>
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l1" onClick="parent.location.href(&quot;studymain.do&quot;);">
        Main Study Menu
     </td>
   </tr>
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l2" onClick="parent.location.href(&quot;selectform.do&quot;);">
        Form Selection Menu
     </td>
   </tr>
   #if ($rightslevel!='EXTERNAL')
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l2" onClick="parent.getFrameByName('wmframe').location.replace(&quot;callpatientforms.do&quot;);parent.hideMenu(&quot;navmenu&quot;);parent.showMenu(&quot;winMenu&quot;);">
        Patient Forms Completed
     </td>
   </tr>
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l2" onClick="parent.getFrameByName('wmframe').location.replace('callecode.do');parent.hideMenu(&quot;navmenu&quot;);parent.showMenu(&quot;winMenu&quot;);">
        ECODE Utility
     </td>
   </tr>
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l2" onClick="parent.location.href(&quot;selectdatatable.do&quot;);">
        Data Table Access
     </td>
   </tr>
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l2" onClick="parent.location.href(&quot;selectletter.do&quot;);">
        Study Correspondence</a> 
     </td>
   </tr>
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l2" onClick="parent.location.href(&quot;selectreport.do&quot;);">
        Study Lists and Reports</a> 
     </td>
   </tr>
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l2" onClick="parent.location.href(&quot;mediamgt.do&quot;);">
        Study Document/Media Management</a>
     </td>
   </tr>
   #end
#end
#if ($analystaccess=='true')
   <tr onMouseOver="this.style.cursor='hand';">
     <td class="amenuitem l0" onClick="parent.location.href(&quot;analystcontent.do&quot;);">
        Researcher/Analyst Content Management</a>
     </td>
   </tr>
#end
   <tr>
     <td class="natablerow" style="height:100%">
        &nbsp;
     </td>
   </tr>
</table>
</BODY>
</HTML>



