
#if ($status=="COULDNOTPULL")

   <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >
   </body>
   </html>
   <script>
      alert("ERROR:  Could not retrieve document/media file from server");
      window.history.go(-1);
   </script>

#end


