
<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script type='text/javascript' src='dwr/engine.js'></script>
<script type='text/javascript' src='dwr/util.js'></script>
<script type='text/javascript' src='dwr/interface/RoleUtilRoleDwr.js'></script>
<script>
   function clicked(ischecked,parentid,rroleid) {
      var _reply="";
      RoleUtilRoleDwrReply = function(data) {
         _reply=DWRUtil.toDescriptiveString(data,1);
         if (_reply.indexOf("OK")<0) {
            alert("ERROR:  Role membership could not be updated.");
         }
      }
      // set value
      RoleUtilRoleDwr.setMembership(ischecked,parentid,rroleid,{ callback:RoleUtilRoleDwrReply,async:false });
   }
</script>
<style type="text/css">
   .menutable th { padding:3px; font-size:xx-small; text-align:center; }
   td.tbltext { padding-left:5px; padding-right:5px; font-size:x-small; text-align:center; }
   td.tbltext.w { width:100%; text-align:left; }
</style>
<BODY class="rowcontent">
#if ($list.size()>0)
   <table class=menutable>
   <form method="post" id='ROWFORM' action="rolemgt.do">
   <input type='hidden' name='SORTCOLUMN'> 
   <input type='hidden' name='HOLDCOLUMN'> 
      <tr>
         <th>Member</th>
         <th>RoleLevel</th>
         <th>RoleSite</th>
         <th>RoleStudy</th>
         <th>RoleAcr</th>
         <th>RoleDesc</th>
      </tr>
   </form> 
   #foreach( $i in $list )
      <tr>
         <td class="tbltext">
            <input type="checkbox" onclick=clicked(this.checked,$parentid,$i.resourceroles.rroleid)
               onMouseOver="this.style.cursor='hand'" #if (${i.ischild}) checked #end />
         </td>
         <td class="tbltext"><nobr>${i.rolelevel}</nobr></td>
         <td class="tbltext"><nobr>${i.siteno}</nobr></td>
         <td class="tbltext"><nobr>${i.studyno}</nobr></td>
         <td class="tbltext"><nobr>${i.resourceroles.roleacr}</nobr></td>
         <td class="tbltext w"><nobr>${i.resourceroles.roledesc}</nobr></td>
      </tr>
   #end
   </table>
#else
   <table class=menutable><tr><td align=center>
      <font size=3 color=#aa0000>ERROR PULLING ROLES FROM DATABASE</font>
   </td></tr></table>
#end
</BODY>
</HTML>

