
<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script type='text/javascript' src='dwr/engine.js'></script>
<script type='text/javascript' src='dwr/util.js'></script>
<script type='text/javascript' src='dwr/interface/FormUtilDwr.js'></script>
<script>
document.isMoving=false;
function movedfrom(islocal,lstdid,dttypeid,dtdefid,dtdesc) {
   if (document.isMouseDown && document.mstart) {
      //document.isMoving=true;
      //document.getElementById("mdiv").innerHTML="&nbsp;&nbsp;&nbsp;Move DataTable:  " + document.dtdesc;
      //document.getElementById("mdiv").style.display="inline";
      //document.getElementById("mdiv").style.left=window.event.clientX + document.body.scrollLeft + 2;
      //document.getElementById("mdiv").style.top=window.event.clientY + document.body.scrollTop + 2;
   }
}
function movedto() {
   if (document.isMouseDown && document.mstart) {
      if (document.isMoving==true) {
         document.getElementById("mdiv").style.display="inline";
         document.getElementById("mdiv").style.left=window.event.clientX + document.body.scrollLeft;
         document.getElementById("mdiv").style.top=window.event.clientY + document.body.scrollTop;
      }
   }
}
function mupfrom() {
#if ($rightslevel!="EXTERNAL")
   document.isMouseDown=false;
   document.getElementById("mdiv").style.display="none";
   document.isMoving=false;
#end
}
function mupto(e) {
#if ($rightslevel!="EXTERNAL")
   document.isMouseDown=false;
   document.getElementById("mdiv").style.display="none";
   if (document.isMoving) {
      movedt(document.islocal,document.lstdid,document.dtdefid,e.name);
   }
   document.isMoving=false;
#end
}
function mdownfrom(islocal,lstdid,dtdefid,dtdesc) {
#if ($rightslevel!="EXTERNAL")
   document.islocal=islocal;
   document.lstdid=lstdid;
   document.dtdefid=dtdefid;
   document.mstart=true;
   document.dtdesc=dtdesc;
   document.isMouseDown=true;
#end
}
function mdownto() {
#if ($rightslevel!="EXTERNAL")
   document.isMouseDown=true;
   document.mstart=false;
#end
}
function moverfrom() {
#if ($rightslevel!="EXTERNAL")
   document.selOk=false;
#end
}
function moverto() {
#if ($rightslevel!="EXTERNAL")
   document.selOk=true;
#end
}
function seltext() {
   if (document.selOk==false) {
      return false;
   } else {
      return true;
   }
}
function movedt(islocal,lstdid,dtdefid,dthaid) {
   var _reply="";
   DtUtilDwrReply = function(data) {
      _reply=DWRUtil.toDescriptiveString(data,1);
      if (_reply.indexOf("OK")>=0) {
         parent.location.reload();
      } else {
         alert(_reply);
         alert("Operation was not successful.");
      }

   }
   // set value
   DtUtilDwr.moveTable(islocal,lstdid,dtdefid,dthaid,{ callback:DtUtilDwrReply,async:false } );
}

</script>
<style type="text/css">
.draggable {
   display:inline;
   position: relative;
   background-color: #FFCCCC;
   font-size: xx-small;
   cursor: move;
}
.notdraggable {
   display:inline;
}
.m1 { margin-left:2pt;margin-right:0pt; }
.m2 { margin-left:2pt;margin-right:2pt; }
.menutable th { padding:3px; font-size:xx-small; text-align:center; }
#if ($rightslevel!="EXTERNAL")
td.menutdha { padding-left:5px; padding-right:5px; font-size:xx-small; text-align:center; }
td.menutdlink { padding-left:5px; padding-right:5px; font-size:xx-small; text-align:center; }
#else
td.menutdha { padding-left:5px; padding-right:5px; font-size:x-small; text-align:center; }
td.menutdlink { padding-left:5px; padding-right:5px; font-size:x-small; text-align:center; }
#end;
td.menutdlink.w { width:100%; text-align:left; }
</style>
<BODY class="rowcontent">
<div id="mdiv" class="draggable"></div>
<div class="notdraggable" onSelectStart="return seltext();">
<table class=menutable>
#if ( $table.class.name.indexOf("mla")>=0 )

         <tr onMouseOver="moverto()">
             #set( $hcol = $table.colNumber - 1 )
   #if ($rightslevel!="EXTERNAL")
             <th align=center colspan="$hcol">
                DtCat
             </th>
   #end
             <th align=center style="border-left-width:3px">
   #if ("$archopt"=="Y")
                Archived?
             </th>
             <th align=center">
   #end          
   #if ("$sinstopt"=="true")
                FORMSInst
             </th>
             <th align=center">
   #end          
                DtAcr
             </th>
             <th align=center>
                DtDesc
             </th>
   #if ($rightslevel!="EXTERNAL")
             <th align=center>
                 Funct
             </th>
   #end
         </tr>
  #foreach ( $row in [$table.row0..$table.rowEnd])
    <tr>
    #foreach ( $col in [$table.col0..$table.colEnd])
      #if ( $table.isVisible($row, $col) )
        #set ( $cell = $table.getCell($row, $col) )
        #if ( $table.isDefaultCell($row, $col) )
          <td> </td>
        #else
             #if ($cell.content.type=="datatableha")
   #if ($rightslevel!="EXTERNAL")
          <td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" class=menutdha
                #if ($cell.content.obj.hadesc!="&nbsp;")
              onMouseOver="this.style.cursor='hand';"
              onClick="parent.catadmin('$cell.name','$cell.content.obj.hadesc')"
                #end
              onMouseMove="movedto();"
              onMouseDown="mdownto();"
              onMouseOver="moverto();"
              onMouseUp="mupto(this);"
              name="$cell.name"
             > 
                $cell.content.obj.hadesc
   #end
             #else

          <td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" align=center 
              style="border-left-width:3px"
   #if ("$archopt"=="Y")
              onMouseOver="this.style.cursor='hand';moverfrom();" 
              onMouseMove="movedfrom();"
              onMouseDown="mdownfrom('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtdesc');"
              onMouseUp="mupfrom();"
              onclick="parent.dtgo('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtacr','$cell.content.obj.dtdesc');" 
              class=menutdlink>
              #if ($cell.content.obj.isarchived)
              X
              #end
          </td>
          <td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" align=center 
   #end
   #if ("$sinstopt"=="true")
              onMouseOver="this.style.cursor='hand';moverfrom();" 
              onMouseMove="movedfrom();"
              onMouseDown="mdownfrom('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtdesc');"
              onMouseUp="mupfrom();"
              onclick="parent.dtgo('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtacr','$cell.content.obj.dtdesc');" 
              class=menutdlink>
                <nobr>$cell.content.instacr</nobr>
          </td>
          <td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" align=center 
   #end
              onMouseOver="this.style.cursor='hand';moverfrom();" 
              onMouseMove="movedfrom();"
              onMouseDown="mdownfrom('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtdesc');"
              onMouseUp="mupfrom();"
              onclick="parent.dtgo('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtacr','$cell.content.obj.dtdesc');" 
              class=menutdlink>
                <nobr>$cell.content.obj.dtacr</nobr>
          </td>
          <td rowspan="$cell.rowSpan" colspan="$cell.colSpan" align="center" align=center onMouseOver="this.style.cursor='hand';moverfrom();" 
              onMouseMove="movedfrom();"
              onMouseDown="mdownfrom('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtdesc');"
              onMouseUp="mupfrom();"
              onclick="parent.dtgo('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtacr','$cell.content.obj.dtdesc');" 
              class=menutdlink style="width:100%">
                $cell.content.obj.dtdesc

   #if ($rightslevel!="EXTERNAL")
          <td align=center width=1% onMouseOver="moverto();">
              <nobr>
              <input type=image img src="images\RMSAdmin3a.gif" title="DataTable Administration" class=m1
              onClick="parent.dtadmin('$cell.content.islocal','$cell.content.lstdid','$cell.name','$cell.content.obj.dtdefid','$cell.content.obj.dtacr')"
              onMouseDown='this.src="images/RMSAdmin3b.gif"'
              onMouseUp='this.src="images/RMSAdmin3a.gif"'
              onMouseOut='this.src="images/RMSAdmin3a.gif"'
              ><input type=image img src="images\RMSInfo3a.gif" title="DataTable Information" class=m2
              onClick="parent.dtinfo('$cell.content.obj.dtdefid')"
              onMouseDown='this.src="images/RMSInfo3b.gif"'
              onMouseUp='this.src="images/RMSInfo3a.gif"'
             onMouseOut='this.src="images/RMSInfo3a.gif"'>
             </nobr>
             #end
          </td>
   #end
        #end
      #end
    #end
  #end
#else

<br>
<tr><td align=center>
    <font size=3 color=#aa0000><nobr>NO TABLES CURRENTLY AVAILABLE.</nobr></font>
 </td></tr>

#end
</table>
</div>
</body>
</html>

