
#if ($status=='THREAD')

   <HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
   
   <script>
      function ls() {
         xhref('thisframe','ssasyncformdatareloader.do');
      }
   </script>    

   <!--
   #parse("WinCheck.vm")
   -->


   <HEAD><TITLE>FORMS Server-Side Application</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" onload="ls();">

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:90%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter>
        <br>
      <H2><nobr>Sync Form Data to Server</nobr></H2>
        <p>
        </td>
        <td class=headerright>
        ###parse("ButtonsOALH.vm")
        </td>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0">

     <IFRAME src="HTML/PlaceHolder.html" height=100% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0" align=center>

           <input type="button" id="okbutn" onclick="location.replace('selectstudy.do')" value="OK" style="padding-left:15px;padding-right:15px;visibility:hidden;" />

        </td>
        </tr>
      </table>

 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>

   </BODY>
   </HTML>

#end 


