
#if ("$status"=="DONE")
<script>parent.buttonSwitch();</script>
$object

#elseif ($status=='lettercreated')

<HTML>
<body>
Letter is downloading....
</body>
<script>
   parent.buttonSwitch();
   location.href("getletter.do");
</script>
</HTML>

#else   
$object

#end
