
<HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>

   #parse("WinCheck.vm")
   #parse("NavMenu.vm")

   <script>
   function ls() {
      try {
         document.links[0].focus();
      } catch (e) {}
   }
   function rolePerm(rroleid) {
      getFrameByName('wmframe').location.replace('viewperm.sputil?rroleid=' + rroleid);
      resizeMenu('winMenu',70);
      showMenu('winMenu');
   }
   function userPerm(auserid) {
      getFrameByName('wmframe').location.replace('viewperm.sputil?auserid=' + auserid);
      resizeMenu('winMenu',70);
      showMenu('winMenu');
   }
   </script>

   <HEAD><TITLE>FORMS Server-Side Application</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:90%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter style="padding-bottom:0">
        <br>
      <H2><nobr>Permissions Assignments</nobr></H2>
                 <small>(SYSTEM/SITE/STUDY)<br>$studydesc</small>
        </td>
        <td class=headerright>
        #parse("ButtonsABNLH.vm")
        </td>
        <tr>
        <td height=50% colspan=3 valign=top style="padding-top:0">

     <b>Role Selection:</b>
     <IFRAME src="syspermsrows.do" height=95% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
        <tr>
        <td height=50% colspan=3 valign=top style="padding-top:0">

     <b>User Selection:</b>
     <IFRAME src="syspermsrows2.do" height=95% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe2" name="thisframe2" style="visibility:hidden" onload="document.getElementById('thisframe2').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
        <tr>
        <td colspan=3 align=center style="padding-top:0">

           <input type="button" value="OK" style="padding-left:25px;padding-right:25px" onclick="window.history.go(-1)"/>

        </td>
        </tr>
      </table>

 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>


