
$list

   <html>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <HEAD><TITLE>FORMS Server-Side Application</TITLE>
   
<script type="text/javascript">
var ie5 = (document.getElementById&&document.all); 
var n6 	= (document.getElementById&&!document.all); 
var x,y,el,pageW,pageH;  
</script>
   
   </HEAD>
   <body class="bodynoimage" LINK="#0022BB" VLINK="#0022BB" ALINK="#0022BB">

      <form method="post" id='ROWFORM' action="selectform.do">
      <input type='hidden' name='SORTCOLUMN'> 
      <input type='hidden' name='HOLDCOLUMN'> 

   <table class="menutable">

   #set ($lastclass="XXX")

   #if ($list.size()>0)

      <tr>
       <th align=center onMouseOver="this.style.cursor='hand'" onclick="SORTCOLUMN.value='roleclass';ROWFORM.submit();" style="padding-left:3;padding-right:3"   ><span style="font-size:7pt"><nobr>
           Class 
       </nobr></span></td>
       <th align=center onMouseOver="this.style.cursor='hand'" onclick="SORTCOLUMN.value='role';ROWFORM.submit()" style="padding-left:3;padding-right:3"   ><span style="font-size:7pt"><nobr>
           Role 
       </nobr></span></td>
       <th align=center onMouseOver="this.style.cursor='hand'" onclick="SORTCOLUMN.value='rolevalue';ROWFORM.submit()" style="padding-left:3;padding-right:3"   ><span style="font-size:7pt"><nobr>
           Value 
       </nobr></span></td>
       <th align=center onMouseOver="this.style.cursor='hand'" onclick="SORTCOLUMN.value='roleclassdesc';ROWFORM.submit()" style="padding-left:3;padding-right:3"   ><span style="font-size:7pt"><nobr>
           ClassDesc 
       </nobr></span></td>
       <th align=center onMouseOver="this.style.cursor='hand'" onclick="SORTCOLUMN.value='roledesc';ROWFORM.submit()" style="padding-left:3;padding-right:3"   ><span style="font-size:7pt"><nobr>
           RoleDesc 
       </nobr></span></td>
      </tr>
         #foreach( $i in $list )
      <tr>
         #if ( ${i.roleclass} != ${lastclass} )
         <td style="padding-left:5;padding-right:5;font-size:8pt" width=15% align=center rowspan=${classrows}>
             <nobr>${i.roleclass}<nobr>
         </td>    
         #end
         <td style="padding-left:5;padding-right:5;font-size:8pt" width=15% align=center>
             <nobr>${i.role}<nobr>
         </td>    
         <td style="padding-left:5;padding-right:5;font-size:8pt" width=15% align=center>
             <nobr>${i.rolevalue}<nobr>
         </td>    
         #if ( ${i.roleclass} != ${lastclass} )
         <td style="padding-left:5;padding-right:5;font-size:8pt" width=15% align=center rowspan=${classrows}>
             <nobr>${i.roleclassdesc}<nobr>
         </td>    
         #end;
         <td style="padding-left:5;padding-right:5;font-size:8pt" width=15% align=center>
             <nobr>${i.roledesc}<nobr>
         </td>    
         #set( $lastclass=${i.roleclass})
      </tr>
         #end
      <tr bgcolor=#BBBBBB height=1><td align=left colspan=6>
         <font size=1 color=#002288><nobr>&nbsp;&nbsp;&nbsp;&nbsp;NOTE:  Click on column heading to sort by that column</nobr></font>
      </td></tr>
   #else

      <tr><td align=center>
         <font size=3 color=#aa0000><nobr>NO RECORDS CURRENTLY IN DATABASE.</nobr></font>
      </td></tr>

   #end

   </table>
      </form>
   </body>
   </html>

