
#set ( $varlist=$object.get("varlist") )
#set ( $tableArray=$object.get("tablearray") )
<html>
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script>
function validate(v,deleterec) {
   getFormElementById("datarecordid").value=v;
   if (deleterec) {
      getFormElementById("_function_").value="deleterecord";
      if (confirm("Are you sure you want to delete this record?\n\n")) {
         document.forms[0].submit();
      }   
   } else {
      getFormElementById("_function_").value="editrecord";
      document.forms[0].submit();
   }
}
</script>

<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<style type="text/css"> 
   .menutable th { padding:3px; font-size:xx-small; text-align:center; }
   .menutable td { padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; font-size:xx-small; }
   .left { text-align:left; }
   .right { text-align:right; }
   .center { text-align:center; }
</style>
<body class="rowcontent">
   <form target="_parent" action='editdatatablerecord.do' method=POST >
<table class=menutable>
#set ($rowcount=0)
   <tr>
      <th>&nbsp;</th>
      <th align=center width="5%"><nobr><b>Delete?</b></nobr></th>
#foreach ( $i in $varlist )

      <th class='center'
          onMouseOver="this.style.cursor='hand'"
          onclick="parent.sortResults('$i');"
      ><nobr>$i</nobr></th>
#end
   </tr>
#foreach ( $i in $tableArray )
#set ($rowcount=$rowcount+1)
   <tr onMouseOver="this.style.cursor='hand'">
      <th> $rowcount </th>
   #foreach ( $j in $i )
      $j.substring($j.indexOf("<")) 
   #end
   </tr>
#end
</table>
   <input type="hidden" id="_function_" name="_function_" >
   <input type="hidden" id="datarecordid" name="datarecordid" >
   </form>
</body>
</html>

