
##$status <br>
##$list.size() <br>
##$sdid <br>

#if ($status=='SHOWTABLE')

   <HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>

   <script>
      function sortResults(invar) {
         document.getElementById('sortvar').value=invar;
         document.getElementById('sortform').submit();
      }
      function addNewRecord(dtdefid,formtypeid) {
         location.href('newdatatablerecord.do');
      }
   </script>

   #parse("WinCheck.vm")
   #parse("NavMenu.vm")

   <HEAD><TITLE>FORMS ViewDataTable Controller</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" >

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:95%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter>
        <br>
        #if ($dtdesc.length()<35)
      <H4><nobr>$dtdesc [$dtacr]</nobr></H4>
        <br>
        #elseif ($dtdesc.length()<45)
      <H4><nobr>$dtdesc</nobr> [$dtacr]</H4>
        #else
      <H4>$dtdesc [$dtacr]</H4>
        #end
        </td>
        <td class=headerright>
        #parse("ButtonsPOABNLH.vm")
        </td>
        <tr>
        <td colspan=3 align=center style="padding-left:12px;padding-bottom:5px;padding-top:0px;padding-right:0px">
           <table style="width:98%" class=maintable cellpadding=0 cellspacing=0 border=1 >
           <tr>
           <form action="viewdatatablesearch.do" method=POST >
           <td valign=top align=left width=60% style="font-size:xx-small;padding-left:5px">
               <nobr>
                   Search: &nbsp;
               <input type="text" style="font-size:xx-small" id="searchtext" name="searchtext" value="$searchtext" onkeyup="this.focus();" size=50 />
               &nbsp;&nbsp;&nbsp;&nbsp;
               <!--
                 -- NOTE:  match case is currently removed because hibernate is ignoring case in the where clause
               <input type="checkbox" id="matchcase" name="matchcase" $matchcase value="X" /> Match Case &nbsp;&nbsp;&nbsp;&nbsp;
               -->
               <input type="checkbox" id="exactmatch" name="exactmatch" $exactmatch value="X" /> Exact Match
               <input type="submit" value="" style="height:0px;width:0px" tabindex="999" hidefocus="true" />
               </nobr>

           </td>
           </form>
           <form action="viewdatatablepage.do" method=POST >
           <td valign=top align=right width=40% style="font-size:xx-small;padding-right:5px">
               <nobr>Maximum Rows: &nbsp;
               <input type="text" style="font-size:xx-small" id="maxrows" name="maxrows" value=$maxrows onkeyup="this.focus();" size=6 />
               </nobr> </td>
           </tr>
           </form>
           </table>
        </td>
        </tr>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0">

     <IFRAME src="viewdatatablerows.do" height=100% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
        <tr>
        <td colspan=3 valign=top align=center style="padding-top:0">
            <input type="button" onclick="addNewRecord()" value="Add New Record" style="padding-left:25px;padding-right:25px" />
        </td>
        </tr>
      </table>

<form id="sortform" action="viewdatatablesort.do" method=POST >
    <input type="hidden" name="sortvar" id="sortvar" />
</form>

 </div>
 <div class="b" style="width:95%"><div></div></div>
</div>

   </BODY>
   </HTML>

#elseif ($status=='SORT')

  <html>
  <body bgcolor=#CCCCCC>
  </body>
  </html>
  <script>
     parent.location.replace("viewdatatable.do");
  </script>   

#elseif ($status=='OPTIONS')

  <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" >
  </body>
  </html>
  <script>
     parent.location.replace("viewdatatable.do");
  </script>   

#else

  <html><body><br>ERROR:  Velocity template error</body></html>

#end
